body {
    margin: 0;
    padding: 0;
}

@page :pseudo-class {
    size: A4 landscape;
    margin:2cm;
}

h3 {
    margin: 5px;
    margin-left: 10px;
}

.arith {
    display: inline-block;
    width: 136px;
    margin: 10px;
    font-size: 20px;
}

#paper {
    width: 21.0cm;
    height: 29.7cm;
    /*border: 1px solid #000;*/
    overflow: hidden;
}